extends layout
block content
    h1 #{title}
    form(method='POST', action='/article/add/new' enctype='multipart/form-data')
        .form-group
            label Title:
            input.form-control(name='title', type='text')
        .form-group
            label Body:
            textarea.form-control(name='body')
        .form-group
            label(for='exampleInputFile') Upload File
            input#exampleInputFile.form-control-file(name='myImage', type='file' required='true')
            small#fileHelp.form-text.text-muted
        input.btn.btn-primary(type='submit', value='Submit')