extends layout
block content
    h1 #{title}
    form(method='POST', action='/user/signin')
        .form-group
            label User name:
            input.form-control(name='username', type='text')
        .form-group
            label Password:
            input.form-control(name='password', type='password')
        input.btn.btn-primary(type='submit', value='Submit')